#NAV {
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.nav-item {
    text-align: center;
}

.col {
    background-color: grey;
}

main {
    margin: 0px 50px 0px 50px;
}

#menu-title {
    font-size: 1.25em;
    font-weight: 900;
}